include *.in
include *.md
include *.txt
include Makefile
recursive-include pytbai *.css
recursive-include pytbai *.html
recursive-include pytbai *.xml
recursive-include pytbai *.xsd
recursive-include tests *.py
recursive-include tests *.p12
recursive-include tests *.pem
